.container {
  min-height: 100vh;
  min-width: 1182px;
  display: flex;
  gap: 5px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.titleBox h1 {
  font-size: 96px;
  margin: 0;
  white-space: nowrap;
}
.titleBox div {
  display: flex;
  font-size: 16px;
  justify-content: flex-end;
}
